.container{
    height: 500px;
    width: 500px;
    background-color: rgba(242, 205, 156, 0.686);
    border: 1px solid rgb(62, 44, 2);
}
.box{
    height: 100px;
    width: 100px;
    background-color: goldenrod;

    animation: tringa 5s linear 1s infinite normal ;
}

@keyframes tringa {
    0%{
        background-color: rgb(255, 94, 0);
        width: 100px;
    }
    50%{
        background-color: #fff;
        width: 200px;

    }
    100%{
        background-color: green;
        width: 300px;
    }
}