*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background: #227582;
    background: linear-gradient(90deg, rgba(34, 117, 130, 1) 100%, rgba(59, 209, 109, 1) 100%, rgba(237, 221, 83, 1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 360px;
    height: 600px;
    background: white;

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    padding:20px;
}
.card img{
    height: 50%;
    border-radius: 20px;
}
.card h2{
    padding-top: 0PX;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 1.2rem;
}
.card P{
    font-size: large;
    padding-left: 18px;
    padding-right: 18px;
}